html{
    background-color: #dfe3ee;
}
div{
    display: block;
    float: left;
}



.logo h1{
    color: darkred;
    font-size: 4em;
    argin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.logo p{
    font-size: 28px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    line-height: 32px;
    width: 350px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo{
    margin-top: 200px;
    margin-right: 100px;
    margin-left: 300px;
}

#btn_loginUser{
    font-weight: bold;
    margin-left: 60px;
}

#btn_loginAdmin{
    font-weight: bold;
    margin-left: 53px;
}


.loginSystem h3{
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 0px 0px 0px 50px;
}

.loginSystem{
    font-family: Arial,sans-serif;
    margin-top: 200px;
    width: 225px;
    height: 200px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 15px;
    padding-bottom: 15px;
}